/* --------------------------------------------------------------------------
   Base
   -------------------------------------------------------------------------- */

html, body, .no-scroll {
    height: 100%;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}
a {
    color: var(--mca-main-color);
    text-decoration: none;
}
a:hover {
    color: var(--mca-hover-color);
    text-decoration: none;
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
    outline: 0;
    box-shadow: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: Nunito, sans-serif;
    line-height: 1.3;
    color: inherit;
}
/* --------------------------------------------------------------------------
   Layout
   -------------------------------------------------------------------------- */

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.logo {
    height: 38px;
    width: auto;
}
.layout-mca {
    gap: 30px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 4fr;
}
/* --------------------------------------------------------------------------
   Images
   -------------------------------------------------------------------------- */

.img-container {
    overflow: hidden;
}
.img-cover {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.image-wrap {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    padding: 2px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--box-border-color);
    border-radius: var(--bs-border-radius-lg);
}
/* --------------------------------------------------------------------------
   Effects
   -------------------------------------------------------------------------- */

.item-scale, .item-up {
    transition: transform .2s;
}
.item-scale:hover {
    transform: scale(1.2);
}
.item-up:hover {
    transform: translateY(-8px);
}
.item-grayscale {
    filter: grayscale(100%);
    transition: filter .2s;
}
.item-grayscale:hover {
    filter: grayscale(0%);
}
/* --------------------------------------------------------------------------
   Bootstrap overrides
   -------------------------------------------------------------------------- */

.card {
    --bs-card-spacer-y: 0.75rem;
    --bs-card-spacer-x: 0.75rem;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}
.dropdown-item-toggle::after {
    content: "";
    display: inline-block;
    margin-left: .255em;
    border-top: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}
/* --------------------------------------------------------------------------
   Dropdown submenu
   -------------------------------------------------------------------------- */

.dropdown-node {
    position: relative;
}
.submenu {
    top: 0;
    left: 100%;
    display: none;
    margin-top: 0;
}
.dropdown-node:hover>.submenu {
    display: block;
}
/* --------------------------------------------------------------------------
   Navbar
   -------------------------------------------------------------------------- */

.nav-mca {
    align-items: center;
    gap: 1rem;
}
.navbar-mca {
    background-color: var(--mca-main-color);
}
.navbar-mca .navbar-toggler {
    font-size: 1rem;
    padding: .375rem .5rem;
    color: #d9d9d9;
    border-color: #d9d9d9;
}
.navbar-mca .navbar-toggler:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.navbar-mca .nav-link {
    color: #d9d9d9;
}
.navbar-mca .nav-link:hover {
    color: #ffffff;
}
.navbar-bottom {
    padding-block: 0.5rem;
    box-shadow: 0 2px 10px #00000033;
}
.fa-nav {
    font-size: 1.125rem;
}
.badge-cart {
    content: "0";
    right: 0.5rem;
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: 500;
}
.badge-product {
    margin-bottom: .375rem;
}
.wrapper-pagination {
    align-items: center;
}
.pagination {
    --bs-pagination-border-color: var(--bs-primary-bg-subtle);
    --bs-pagination-hover-color: var(--bs-primary-text-emphasis);
    --bs-pagination-hover-bg: var(--bs-primary-bg-subtle);
    --bs-pagination-hover-border-color: var(--bs-primary-bg-subtle);
    --bs-pagination-focus-color: var(--bs-primary-text-emphasis);
    --bs-pagination-focus-bg: var(--bs-primary-bg-subtle);
    --bs-pagination-active-color: var(--bs-primary-text-emphasis);
    --bs-pagination-active-bg: var(--bs-primary-bg-subtle);
    --bs-pagination-active-border-color: var(--bs-primary-bg-subtle);
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-white);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
}
/* --------------------------------------------------------------------------
   Grids
   -------------------------------------------------------------------------- */

.grid {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-section {
    grid-template-columns: repeat(4, 1fr);
}
.grid-products {
    grid-template-columns: repeat(6, 1fr);
}
.grid-categories {
    grid-template-columns: repeat(10, 1fr);
}
.grid-brands {
    grid-template-columns: repeat(10, 1fr);
}
/* --------------------------------------------------------------------------
   Categories / Brands
   -------------------------------------------------------------------------- */
/*
.grid-categories a {
    color: #646d75;
}*/
.footer-categories {
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    position: absolute;
    overflow: hidden;
    font-size: 0.75rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #e9ecef;
    border-top: none;
}
/* --------------------------------------------------------------------------
   Product cards
   -------------------------------------------------------------------------- */

.card-simple {
    overflow: hidden;
    border: none;
}
.card-product {
    margin-bottom: 1rem;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    border-radius: var(--bs-border-radius-xxl);
}
.card-hover {
    transition: box-shadow 0.3s ease;
}
.card-hover:hover {
    box-shadow: 0 2px 0 0 #ccc;
}
.card-brand {
    top: 10px;
    right: 10px;
    width: 50px;
    z-index: 3;
    overflow: hidden;
    position: absolute;
    border-radius: var(--bs-border-radius-lg);
}
.card-image {
    padding-top: 0.75rem;
    padding-inline: 0.75rem;
}
.card-inner {
    height: 110px;
    cursor: default;
    position: relative;
}
.card-caption {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: .75rem;
    padding-bottom: 0;
    background: linear-gradient(to bottom, #fff, #fff9);
    border-radius: .625rem;
    transition: transform 0.4s ease;
}
.card-caption:hover {
    transform: translateY(calc(-100% + 110px));
}
.card-footer {
    min-height: 3.5rem;
    position: relative;
    text-align: center;
    background-color: #ffffff;
}
.card-title {
    font-size: .875rem;
    line-height: 1rem;
}
.card-text {
    margin-bottom: .25rem;
    color: #6d6d6d;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1rem;
}
.card-sku {
    width: 100%;
    display: block;
    overflow: hidden;
    color: var(--mca-main-color);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-rated {
    margin-bottom: .25rem;
    font-size: 0.75rem;
    color: var(--mca-hover-color);
}
.card-stock {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    color: var(--mca-hover-color);
    font-weight: 500;
}
.card-taxonomy {
    padding: 6px 0;
    font-size: 14px;
    list-style: none;
}
.badge-card {
    left: 10px;
    bottom: 10px;
    position: absolute;
    color: #212529;
}
/* --------------------------------------------------------------------------
   Product lists
   -------------------------------------------------------------------------- */

.list-item-thumbnail {
    width: 65px;
    height: 65px;
    display: inline-block;
    overflow: hidden;
    margin: auto;
    padding: 0;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: .625rem;
}
.list-sm {
    margin-bottom: 0;
    font-size: .875rem;
    color: #555;
}
.list-sm li {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: .25rem;
    break-inside: avoid;
}
.list-sm i {
    width: 16px;
    flex: 0 0 16px;
    text-align: center;
}
.list-columns {
    columns: 2;
    column-gap: 2rem;
}
/* --------------------------------------------------------------------------
   Carousel
   -------------------------------------------------------------------------- */

.row-carousel {
    margin-top: 16px;
}
.row-carousel .carousel-inner {
    border-radius: var(--bs-border-radius-xl);
}
/* --------------------------------------------------------------------------
   Alphabet
   -------------------------------------------------------------------------- */

.alphabet-nav {
    top: 0;
    z-index: 10;
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
    background: linear-gradient(#fff 60%, transparent);
}
.alphabet-letter {
    width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--mca-main-color);
    text-align: center;
    background-color: #ffffff;
    border: 1px solid var(--mca-main-color);
    border-radius: .625rem;
}
.alphabet-active, .alphabet-letter:hover {
    color: #ffffff;
    border-color: var(--mca-hover-color);
    background-color: var(--mca-hover-color);
}
/* --------------------------------------------------------------------------
   Text / Helpers
   -------------------------------------------------------------------------- */

.section-subtitle, .section-message {
    margin-bottom: 0.25rem;
    color: var(--mca-hover-color);
    font-size: 1.125rem;
    font-weight: 400;
}
.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.truncate-2 {
    -webkit-line-clamp: 2;
}
.truncate-3 {
    -webkit-line-clamp: 3;
}
.truncate-4 {
    -webkit-line-clamp: 4;
}
/* --------------------------------------------------------------------------
   Sparkles
   -------------------------------------------------------------------------- */

.sparkles {
    position: relative;
    width: 32px;
    height: 32px;
}
.sparkle {
    position: absolute;
    z-index: 1;
    color: #ffc107;
    opacity: 0;
    animation: sparkle 2.5s infinite;
}
.sparkle-1 {
    top: -22px;
    left: 60%;
    font-size: 16px;
    transform: translateX(-50%);
}
.sparkle-2 {
    top: 20%;
    right: -16px;
    font-size: 14px;
    animation-delay: .5s;
}
.sparkle-3 {
    bottom: 30%;
    left: -15px;
    font-size: 12px;
    animation-delay: 1s;
}
.sparkle-4 {
    right: 10%;
    bottom: -5px;
    font-size: 10px;
    animation-delay: 1.5s;
}
@keyframes sparkle {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        opacity: 0;
        transform: scale(1.4);
    }
    100% {
        opacity: 0;
    }
}
/* --------------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------------- */

footer {
    background-color: #212529;
}
footer a {
    color: #ccc;
}
footer a:hover {
    color: #fff;
}
.text-title, .text-footer {
    color: #ccc;
}
.text-footer {
    font-weight: 300;
}
.list-social a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #bfbfbf;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}
.list-social a:hover {
    color: #343a40;
    background-color: #fff;
}
/* --------------------------------------------------------------------------
   Responsive
   -------------------------------------------------------------------------- */

@media (max-width: 991.98px) {
    .wrapper {
        padding-block: 20px;
    }
    .wrapper-middle {
        padding-block: 10px;
    }
    .navbar-bottom {
        display: none;
    }
    .custom-search {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }
    .layout-mca {
        grid-template-columns: 1fr;
    }
    .grid-categories {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-products {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-brands {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 767.98px) {
    .card {
        --bs-card-spacer-y: 0.5rem;
        --bs-card-spacer-x: 0.5rem;
    }
    .logo {
        width: 135px;
    }
    .section-title {
        font-size: 1.375rem;
    }
    .section-subtitle {
        font-size: 1rem;
    }
    .section-message {
        display: none;
    }
    .wrapper-bottom {
        padding-bottom: 30px;
    }
    .grid-brands {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-title {
        margin-bottom: 0.25rem;
        font-size: 1rem;
    }
    .text-footer {
        font-size: 0.75rem;
    }
}
@media (max-width: 575.98px) {
    .grid-brands {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-products {
        grid-template-columns: repeat(2, 1fr);
    }
}